{% extends "layout.html" %}

{% block content %}
<p>Last Updated: {{ build_time | datetime_format }}</p>

<h1>stonksfeed.com</h1>

<div>

    <h2>Marketwatch "Market Pulse"</h2>
        <ul>
            {% for article in articles -%}
                {% if article.feed_title == "Market Pulse" %}
                    <li><a href="{{ article.link }}">{{ article.headline }}</a>
                {% endif %}
            {% endfor -%}
        </ul>

    <h2>Marketwatch Top News</h2>
        <ul>
            {% for article in articles -%}
                {% if article.feed_title == "Top Stories" %}
                    <li><a href="{{ article.link }}">{{ article.headline }}</a>
                {% endif %}
            {% endfor -%}
        </ul>

    <h2>Marketwatch Breaking News Bulletin</h2>
    <ul>
        {% for article in articles %}
            {% if article.feed_title == "Breaking News Bulletin" %}
                <li><a href="{{ article.link }}">{{ article.headline }}</a>
            {% endif %}
        {% endfor %}
    </ul>

    <h2>Marketwatch Real-time News</h2>
    <ul>
        {% for article in articles %}
            {% if article.feed_title == "Real-time Headlines" %}
                <li><a href="{{ article.link }}">{{ article.headline }}</a>
            {% endif %}
        {% endfor %}
    </ul>

    <h2>WSJ.com - Technology: What's News</h2>
    <ul>
        {% for article in articles %}
            {% if article.feed_title == "Technology: What's News" %}
                <li><a href="{{ article.link }}">{{ article.headline }}</a>
            {% endif %}
        {% endfor %}
    </ul>

</div>
{% endblock content %}
